/* globally removing all the padding and all margin in the elements */
*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* resetting the viewport font-size */
html{
    font-size: 62.5%;
}

/* body styling */
body{
    line-height: 1.8;
    font-family:Arial, Helvetica, sans-serif;
    background-color:  white;
}
/* navigation bar heading styling */
.navigation-bar{
    padding: 1.5rem 0 1.5rem 0;
    display: flex;
    position: sticky;
    top: 0;
    background-color:  rgb(255, 253, 245);
    display: flex;
}
.container{
    width: 90%;
    margin: auto;
}
.flex-container{
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}
/* hidden content for small screens in the nav bar */
.navigation-links{
    display: none;
}
/* global styling for all links */
a{
    text-decoration: none;
}
/* the link button */
.small-link-button,.big-link-button{
    color: white;
    font-size: 1.6rem;
}
/* styling the zuri talent logo */
.link-logo-2{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 25%;
}
.logo-2{
    width: 100%;
}
/* The button styling in the nav bar */
.small-button,.big-button{
    background-color: #E7332B;
    padding: 1.1rem 4.5rem;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 1rem;
    border: none;
    outline: none;
}
/* media query in the navigation bar */
@media (min-width:890px){
    .small-screen-btn{
        display: none;
    }
    .navigation-links{
        display: flex;
        justify-content: center;
    }
    .nav-links{
        margin: 0 4.8rem 0 0;
        display: flex;
        /* align-self: center; */
        font-size: 1.8rem;
        color: #626263;
        font-weight: 500;
    }
    .home-p{
        border-bottom: #E7332B .3rem solid;
    }
}

/* section 1 styling */
/* container styling in section 1 */
.section-1{
    padding: 22rem 0 0;
    width: 90%;
    margin: auto;
}
.line-section-1{
    /* display: flex;
    justify-content: end; */
    margin-left: 40vw;
    /* width: 85%; */
    margin-top: -2.8rem;
}
.section-1-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-section-1,.section-1-information-1,.section-1-information-2{
display: flex;
flex-direction: column;
}
.section-1-information-2{
    align-items: center;
    margin: 5rem 0 0;
}
/* text styles in section 1 */
.vetted-trusted{
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 130%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    text-align: center;
}
.section-1-span{
    /* section 1 button */
    color: #E7332B;
}
.training-testing{
    color: #626263;
    font-size: 1.6rem;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    /* padding-top: 3rem;
    display: flex;
    justify-self: center;
    align-items: center; */
}
/* section 1 button */
.section-1-button{
    background-color: #E7332B;
    padding: 1.1rem 4.5rem;
    /* display: flex;
    align-items: center; */
    border-bottom-right-radius: 1rem;
    border: none;
    outline: none;
    margin:3rem 0 0 1rem;
}
.section-1-button-1{
    background-color: #626263;
    padding: 1.1rem 4.5rem;
    /* display: flex;
    align-items: center; */
    border-bottom-right-radius: 1rem;
    border: none;
    outline: none;
    margin:3rem 0 0 1rem;
}
.section-1-link-button,.section-1-link-button-1{
    color: white;
    font-size: 1.6rem;
}
/* image in section 1 */
.main-man-image{
    width: 75%;
}
@media(min-width:700px){
    .line-section-1{
        /* display: flex;
        justify-content: end; */
        margin-left: 60vw;
        /* width: 85%; */
        margin-top: -2.8rem;
    }
}
@media (min-width:1200px){
    .flex-section-1{
        justify-content: space-between;
        flex-direction: row;
        }
        .section-1-information-1,.section-1-information-2{
            width: 50%;
            align-self: center;
        }
        .section-1-information-2{
            margin: 0;
        }
        .line-section-1{
            /* display: flex;
            justify-content: end; */
            margin-left: 30vw;
            /* width: 85%; */
            margin-top: -2.8rem;
        }
}

/* section 2 styling */
/* container styling */
.section-2{
    background-image: url(./images/bgsection2.063bd869082548bafa74.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin:8rem 0 0 ;
    padding-bottom: 15rem ;
}
.flex-section-2,.flex-section-2-content,.flex-section-2-image{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.flex-section-2-image,.flex-section-2-content{
    padding: 2.4rem 0 0 2.4rem;
}
.countries-image{
    display: flex;
}
/* text styling */
.section-2-impact{
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 130%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    padding:7rem 0 1.5rem 0;
    /* width: 70%;
    margin: 0 auto; */
}
.section-2-span{
    /* section 1 button */
    color: #E7332B;
}
.section-2-trained{
    font-size: 2rem;
    font-weight: 700;
    line-height: 130%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    padding-bottom: 1.5rem;
}
.section-2-talent{
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 130%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: #626263;
    padding-bottom: 1.5rem;
}
/* images in section 2 */
.heads-section-2{
    width: 100%;
}
.countries{
    background-color: white;
    padding: 1rem;
    margin-right: .7rem;
    width: 60px;
    border-radius: 1rem;
}
/* media queries in section 2 */
@media (min-width:600px){
    .flex-section-2,.flex-section-2-content,.flex-section-2-image{
        flex-direction: column;
        align-items: center;
    }
    .section-2-impact{
    text-align: center;
        width: 55%;
        margin: 0 auto;
    }
    .heads-section-2{
        width: 50%;
    }
}
@media (min-width:900px){
    .flex-section-2{
        flex-direction: row;
        justify-content: space-between;
    }
    .flex-section-2-content{
        width: 45%;
    }
    .flex-section-2-image{
        width: 35%;
    }
    .heads-section-2{
        width: 100%;
    }
    .flex-section-2-content{
        flex-direction: column;
        align-items: stretch;
    }
    .section-2-impact{
    text-align: left;
        width: 100%;
        font-size: 3.6rem;
    }
}

/* section 3 styling  */
/* section 3 container styling */
.section-3{
    padding: 10rem 0 0;
}
.talent-section-3,.hiring-section-3{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.talent-section-3{
    padding-bottom: 2.5rem;
}
.talent-section-3-content,.hiring-section-3-content{
    padding: 2.4rem 0 0 2.4rem;
}
.talent-section-3-content-info,.hiring-section-3-content-info{
    padding: 2rem 3rem 1rem 1.5rem;
    background-color: #fff8e5;
    flex-grow: 0;
    border-radius: 1rem;
    box-shadow: 0 8px 30px hsla(0,0%,48%,.16)!important;
}
.hiring-section-3-content-info{
   width: 19rem;
    
}
/* text styles */

.section-3-para-1,.section-3-para-2{
    color: black;
    font-size: 1.6rem;
    font-weight: 400;
}
.talent-paragraph,.hiring-paragraph{
   color: black;
   font-size: 1.5rem;
   font-weight: 500;
}
.section-3-talent,.section-3-skill{
    font-size: 3.6rem;
    line-height: 120%;
    font-weight: 700;
    padding-bottom: 2rem;
}
/* state styles */
.talent-section-3-content-info:hover,.hiring-section-3-content-info:hover{
  margin-top: -1rem;
  transition: .25s all ease-in-out;
}


/* section 4 styling */
/* container styling */
.section-4{
    background-color: #fff8e5;
    margin: 9rem 0 0;
    padding-bottom: 7rem;
}
.why-hire{
    display: flex;
    flex-direction: column;
}
.why-hire-content{
    padding: 2.4rem 0 0 2.4rem;
}
.why-hire-content-info{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-right-radius: 3rem;
    padding: 4.5rem 1rem;
    margin: 1.6rem 0 0;
}

/* text styling */
.why-hire-us{
    font-size: 3.6rem;
    line-height: 120%;
    font-weight: 700;
    padding-top: 5rem;
    padding-bottom: 7rem;
    text-align: center;
   
}
.span-section-4{
    color: #E7332B;
}
.hiring-para-section-4{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 130%;
    width: 80%;
    text-align: center;
}
/* image styling */
.section-4-icon{
    width: 15%;
    padding: 0 0 2rem 0;
}
/* button styling */
.section-4-btn-container{
    margin: 7rem 0 0;
}
/* state styling */
.why-hire-content-info:hover{
    background-color: black;
    transition: .25s all ease-in-out;
}
.why-hire-content-info:hover .hiring-para-section-4{
    color: white;
    transition: .15s all ease-in-out;
}
.div-empty{
    display: none;
}
/* media query styling */
@media (min-width:600px){
    .why-hire{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .why-hire-content-info{
        height: 25rem;
    }
    .div-people,.div-mech,.div-hand,.div-contract{
        flex-grow: 0;
        flex-basis: 50%;    
        max-width: 50%;
    }
    .div-many{
        flex-grow: 0;
        flex-basis: 100%;    
        max-width: 100%;
    }
     .hiring-para-section-4{
        /* width: 50%; */
    }
}
@media (min-width:1200px){
    .why-hire{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .why-hire-content-info{
        height: 25rem;
    }
    .why-hire-content{
    flex-basis: 33.33%;
    flex-grow: 0;
    max-width: 33.33%;
    }
    
    .div-empty{
        display: flex;
        flex-basis: 16.67%;
        flex-grow: 0;
        max-width: 16.67%;
        padding: 1.6rem 0 0 1.6rem;
        background-color: #fff8e5;
    }
     .hiring-para-section-4{
        /* width: 50%; */
    }
}

/* footer styling */
/* container styling */
footer{
    background-color: black;
    padding: 5rem 0 0;
}
.footer-contact-icon-logo,.copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-contact-icon{
    display: flex;
}
.contact-logo,.contact-icon{
padding: 0 0 2rem 0;
}
/* text styling */
.zuri-team,.paragraph-email{
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
}
.zuri-team{
    order: 2;
    padding: 1.6rem 0 0 0;
}
.horizontal-line-footer{
    order: 1;
    width: 100%;
}
.paragraph-email{
    order: 0;
    padding: 0 0 1.6rem 0;
}

/* image styling */
.twitter,.youtube{
    width: 20px;
    height: 21px;
}
.footer-contact-icon{
    margin: 0 .5rem;
}
/* media query styling */
@media(min-width:600px){
    .footer-contact-icon-logo,.copyright{
        flex-direction: row;
        justify-content: space-between;
    }
    .horizontal-line-footer{
        display: none;
    }
    .paragraph-email{
        order: 1;
        padding: 0 1.6rem 1.6rem 0;
    }
    .zuri-team{
        order: 0;
        padding:0 0  1.6rem 1.6rem;
    }
    .contact-logo{
        padding: 3.2rem 0 3rem 3.5rem;
    }
    .contact-icon{
        padding: 3.2rem 2.4rem  3rem 0;
    }
}